<app-main-nav></app-main-nav>
<pre>

</pre>
<div class="container">
    <div class="row ">
        <div class="col-6">
            <h3 class="subheading text-center">What is Aahar ?</h3>
            <p word-wrap="break-down">Aahar is India’s first comprehensive waste management service solution for segregated waste streams. Aahar currently has solutions for your kitchen waste . Once collected,  your kitchen waste it is supplied to the needy people who dot get the food.
             We created Aahar to be professional, efficient, reliable & transparent. It is a simple and hassle-free solution that addresses a national crisis of garbage, that affects all sections of the society alike! We believe Aahar is for everyone.</p>
        </div>
        <div class="col-6">
        <img src="assets\images\food4.png" width="530" height="300">
    </div>
    </div>
    <pre>

    </pre>
    <!--=============next row about working=====================================-->
    <div class="container" style="background-color:lemonchiffon">
        <h3 class="subheading text-center">How It Works?</h3>
        <div class="row">
        <div class="col-2" style="margin-left: 10%;">
            <img src="assets\images\images.png" width="100px" height="100px">
            <h4>SignUp Form</h4>
                <p>Fill form to give info about extra food.</p>
                
        </div>
        <div class="col-2">
          <img src="assets\images\arrow.png" style="margin-left:50px;margin-top:50px" width="50px" height="50px">
          
              
      </div>
  
    
        <div class=col-2>
            <img src="assets\images\delivery.png" width="100px" height="100px">
            <h4>HandOver Food To Ango</h4>
            <p>Handover the extra food  to the NGO person . He will come at your door to collect the food.</p>
            
        </div>
        <div class="col-2">
          <img src="assets\images\arrow.png " style="margin-left:50px;margin-top:50px" width="50px" height="50px">
          
              
      </div>
  
        <div class=col-2>
            <img src="assets\images\wehelp.jpg" width="100px" height="100px">
            <h4>We Deliver</h4>
            <p>We deliver the food to the street peoples who really need it.</p>
        </div>
      </div>
      <br>
      <div class="row ">
            <input class="btn-primary" type="submit" value="Get started"  routerLink="/user-registration"  style="margin-left: 45%;">
        </div>


    </div>
    <pre>


    </pre>
    <!--======================Multiple images about process===========================-->
    <div class="container">
        <h2 class="subheading text-center">Whom we Serve</h2>
        <br>
            <div id="demo" class="carousel slide" data-ride="carousel">

                <!-- Indicators -->
                <ul class="carousel-indicators">
                  <li data-target="#demo" data-slide-to="0" class="active"></li>
                  <li data-target="#demo" data-slide-to="1"></li>
                  
                </ul>
                
                <!-- The slideshow -->
                <div class="carousel-inner">
                    <div class="carousel-item active">
                    <div class="row">
                    <div class="col-3">
                    <img src="assets/images/industries.jpg" class="img-fluid"  style="width:100px; height:100px">
                    <h4>Factories & Industries</h4>
                      
                    </div>
                      <div class="col-3">
                    <img src="assets/images/home.jpg"  class="img-fluid"  style="width:100px; height:100px">
                    <h4>Resedential Area</h4>
                      
                    </div>
                    <div class="col-3">
                    <img src="assets/images/restura.jpg" class="img-fluid"  style="width:100px; height:100px">
                    <h4>Hotels and Restuarants</h4>
                       
                    </div>
                    <div class="col-3">
                      <img src="assets/images/resort1.jpg" class="img-fluid"  style="width:100px; height:100px">
                      <h4>Clubs & Resorts</h4>
            
                      </div>
                  </div>
           
                  </div>
                  <div class="carousel-item">
                    <div class="row">
                    <div class="col-3">
                      <img src="assets/images/coorporate.jpg" class="img-fluid"  style="width:100px; height:100px">
                      <h4>Coorporate Offices & Canteens</h4>
                        </div>
                        <div class="col-3">
                    <img src="assets/images/marriage.png" class="img-fluid"  style="width:100px; height:100px">
                    <h4>Marriage Halls</h4>
                    </div>
                      <div class="col-3">
                    <img src="assets/images/pray.jpg" class="img-fluid"  style="width:100px; height:100px">
                    <h4>Place of Worship</h4>
                    </div>
                    <div class="col-3">
                    <img src="assets/images/complex.png " class="img-fluid"  style="width:100px; height:100px">
                    <h4>Commercial Complexes</h4>
                    </div>
                    
                    
                  </div>
                  
                  </div>
                <!-- Left and right controls -->
                <a class="carousel-control-prev" href="#demo" data-slide="prev">
                  <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next" href="#demo" data-slide="next">
                  <span class="carousel-control-next-icon"></span>
                </a>
              </div>
        </div>
</div >
<pre>

  
</pre>
<!---======================================Another info =============================-->
<div class="container">
    <div class="row">
        <h3 class="subheading offset-6">FAQ</h3>
    </div>
              <div id="accordion">
                <div class="card">
                  <div class="card-header">
                    <a class="card-link" data-toggle="collapse" href="#collapseOne">
                      Is Aahar a free service?
                    </a>
                  </div>
                  <div id="collapseOne" class="collapse show" data-parent="#accordion">
                    <div class="card-body">
                      Yes! It is a absolutely free service .
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header">
                    <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">
                      Which all cities does Aahar operate in?
                  </a>
                  </div>
                  <div id="collapseTwo" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                      Currently, we have launched our service in Pune only . If you’re not from these cities, rest assured! We shall be coming to your city soon.
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header">
                    <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree">
                      Is there an upper limit to the quantity of food that can be given?
                    </a>
                  </div>
                  <div id="collapseThree" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                      No,there is no upper limit for the quantity of food.
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header">
                    <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree">
                      Will you collect door-to-door?

                    </a>
                  </div>
                  <div id="collapseThree" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                      yes ,when you fill the form our app will search for nerest ngo according to your location so ngo will send any volunteer to your house to collect the food and deliver it to the needy people.
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header">
                    <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree">
                      How much time does it take for the NGO person to reach the at the location?
                    </a>
                  </div>
                  <div id="collapseThree" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                      when you fill the form our app will search for nerest ngo according to your location .So NGO member will reach to your location as soon as possible.
                    </div>
                  </div>
                </div>
                
              </div>
</div>
</div>
<pre>


</pre>
<app-app-footer></app-app-footer>



