<app-main-nav></app-main-nav>
<pre>



</pre>
<div class="container" style="background-color: transparent;">
    <div style="text-align:center;">
      <h2>CONTACT US HERE...</h2>
      <br>
      <br>
      <table  width="100%"  >
      <tr>
      <td width="50%">
        <img src="assets/images/call.png" class="image-fluid" style="background-color:none;width:100px;size:4px;text-align:center"/>
      <br>
  <h3>BY PHONE</h3>
  <p>Aahaar</p>
  <p>9179328545</p>
  
      </td>
      <td width="50%">
        <img src="assets/images/message.jpg" class="image-fluid" style="width:100px;size:4px;text-align:center"/>
  <br>
  <h3>START A NEW CASE</h3>
  <p>Just send us your questions or concerns <br>by starting a 
  new case and we will give you the help you need.</p>
  <input type="submit" value="Start Here" routerLink="/click-contact">
   </td>

      </tr>
      </table>
      
      
   </div>
    </div>
    <pre>





    </pre>
    <app-app-footer></app-app-footer>