<app-app-navbar></app-app-navbar>
      <div id="demo" class="carousel slide" data-ride="carousel" style="margin-top: -80px;opacity: 0.9;">
   
        <!-- Indicators -->
        <ul class="carousel-indicators">
          <li data-target="#demo" data-slide-to="0" class="active"></li>
          <li data-target="#demo" data-slide-to="1"></li>
          <li data-target="#demo" data-slide-to="2"></li>
        </ul>
        
        <!-- The slideshow -->
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="assets\images\theme2.jpg"  style="width:100%;height:550px" class="img-fluid">
            <div class="carousel-caption">
              <a routerLink="/admin-login" class="btn btn-success" routerLink="/user-registration" style="margin-bottom: 20%;margin-left: 80%;width: 20%;">START HERE</a>
            </div>
            <!-- <input type="submit" value="Fill form" class="carousel-btn-overlay" routerLink="/admin-login"> -->
          </div>
          <div class="carousel-item">
            <img src="assets\images\donate4.jpg" style="width:100%;height:550px" class="img-fluid">
            <div class="carousel-caption">
              <a routerLink="/admin-login" class="btn btn-success" routerLink="/money-form" style="margin-bottom: 10%;margin-left: 20%;width: 20%;">DONATE</a>
            </div>
          </div>
          <div class="carousel-item">
            <img src="assets\images\help.jpg" style="width:100%;height:550px" class="img-fluid">
          </div>
        </div>
        
        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
          <span class="carousel-control-next-icon"></span>
        </a>
        </div>
       
 <pre>

 </pre>
 <!--card code starts from here-->
  <section class="ftco-section bg-light">
     <div class="container-fluid" style="background-color:lemonchiffon;">
       <div class="row justify-content-center mb-5">
         <div class="col-md-7 heading-section text-center tt-socail">
           <h3 class="subheading">Our Helping Hands</h3>
         </div>
       </div>
       <div class="row">
         <div class="col-lg-3 d-flex" >
           <div class="program align-items-stretch">
             <img src='assets/images/cryngo.jpg' style='height:300px;width:350px'>
             <div class="text bg-white p-4 ftco-animate" >
             
               <h3><a href="https://www.cry.org/" >CRY</a></h3>
               <p>CRY has been working for happier and healthier childhoods for the last 40 yearsfounded by Rippan Kappor in 1979</p>
               <ul class="ftco-social-media d-flex mt-4">
                 <li class="ftco-animate"><a href="#" class="mr-2 d-flex justify-content-center align-items-center"><span class="icon-twitter"></span></a></li>
                 <li class="ftco-animate"><a href="#" class="mr-2 d-flex justify-content-center align-items-center"><span class="icon-facebook"></span></a></li>
                 <li class="ftco-animate"><a href="#" class="mr-2 d-flex justify-content-center align-items-center"><span class="icon-instagram"></span></a></li>
               </ul>
             </div>
           
           </div>
         </div>
         <div class="col-lg-3 d-flex"  >
           <div class="coach d-md-flex flex-column-reverse align-items-stretch">
             <img src='assets/images/akanshango.jpg' style='height:300px;width:350px'>
             <!-- <div class="img" style="background-image: url(images/trainer-2.jpg);"></div> -->
             <div class="text bg-white p-4 ftco-animate">
 


               <h3><a href="http://www.akanksha.org/" >Akanksha Foundation</a></h3>
               <p>Started in 1991 with a simple idea-To deliver a high quality education and food to the each child, no matter his or her background.</p>
               <ul class="ftco-social-media d-flex mt-4">
                 <li class="ftco-animate"><a href="#" class="mr-2 d-flex justify-content-center align-items-center"><span class="icon-twitter"></span></a></li>
                 <li class="ftco-animate"><a href="#" class="mr-2 d-flex justify-content-center align-items-center"><span class="icon-facebook"></span></a></li>
                 <li class="ftco-animate"><a href="#" class="mr-2 d-flex justify-content-center align-items-center"><span class="icon-instagram"></span></a></li>
               </ul>
               
             </div>
           </div>
         </div>
         <div class="col-lg-3 d-flex"  >
           <div class="coach align-items-stretch">
             <img src='assets/images/beyondself.png' style='height:300px;width:350px'>
             <!-- <div class="img" style="background-image: url(images/trainer-3.jpg);"></div> -->
             <div class="text bg-white p-4 ftco-animate">
               <h3><a href="http://www.beyondselfpune.com/" >Beyond Self</a></h3>
               <p>We reach out to all in the society as we create mean to utilize extra food to feed the needy...</p>
               <ul class="ftco-social-media d-flex mt-4">
                 <li class="ftco-animate"><a href="#" class="mr-2 d-flex justify-content-center align-items-center"><span class="icon-twitter"></span></a></li>
                 <li class="ftco-animate"><a href="#" class="mr-2 d-flex justify-content-center align-items-center"><span class="icon-facebook"></span></a></li>
                 <li class="ftco-animate"><a href="#" class="mr-2 d-flex justify-content-center align-items-center"><span class="icon-instagram"></span></a></li>
               </ul>
             
             </div>
           </div>
         </div>
         <div class="col-lg-3 d-flex"  >
          <div class="coach d-md-flex flex-column-reverse align-items-stretch">
            <img src='assets/images/snehaWan.png' style='height:300px;width:350px'>
            <!-- <div class="img" style="background-image: url(images/trainer-4.jpg);"></div> -->
            <div class="text bg-white p-4 ftco-animate">
                <h3><a href="http://snehwan.in/" >SnehaWan NGO</a></h3>
              <p>Taking care of childrens all over India. currently helping 25 million childrens which are at a risk of accute hunger.</p>
              <ul class="ftco-social-media d-flex mt-4">
                <li class="ftco-animate"><a href="#" class="mr-2 d-flex justify-content-center align-items-center"></a></li>
                <li class="ftco-animate"><a href="#" class="mr-2 d-flex justify-content-center align-items-center"><span class="icon-facebook"></span></a></li>
                <li class="ftco-animate"><a href="#" class="mr-2 d-flex justify-content-center align-items-center"><span class="icon-instagram"></span></a></li>
              </ul>
          
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <pre>


  </pre>
  <!---card displaying the images-->
     
       <div class="container-fluid">
         <div class="row justify-content-center mb-5 pb-3">
           <div class="col-md-7 heading-section ftco-animate text-center">
             <h3 class="subheading">Happy Faces</h3>
             
           </div>
         </div>
         <div class="row">
           <div class="col-3">
                <a href=""><img src="assets/images/newhappy.jpg"></a>
           </div>
           <div class="col-3">
              <a href="#" ><img src="assets/images/newhappy5.jpg">	
               </a>
           </div>
           <div class="col-3">
               <a href="#"><img src="assets/images/newhappy7.jpg">
                 
               </a>
           </div>
           <div class="col-3">
               <a href="#" ><img src="assets/images/newhappy4.jpg">
               
               </a>
             
           </div>
         </div>
       </div>
       <pre>

      </pre>	  	
         
      <!--card displaying the programs-->
      
         <section class="ftco-section bg-light">
           <div class="container-fluid" style="background-color: lemonchiffon;">
             <div class="row justify-content-center mb-5 pb-3" >
               <div class="col-md-7 heading-section ftco-animate text-center" ><br>
                 <h3 class="subheading">Recommended Program for Food And Money</h3>
                 
               </div>
             </div>
             <div class="row" style=" margin-left: 15%;">
                 <div class="card col-md-3 mr-5 bg-warning">
                 <img src="assets/images/newhunger.jpg" height="150px" class="card-img-top">
                 <div class="card-body">
                   If you want to eliminate hunger, everybody has to be involved..
                 </div>
               </div>
               <div class="card col-md-3 mr-5 bg-warning">
                 <img src="assets/images/newcancer.jpg"  height="150px" class="card-img-top">
                 <div class="card-body">
                   Cancer opens many doors. One of the most important is your heart..
                 </div>
                 </div>
                 <div class="card col-md-3 mr-5 bg-warning">
                   <img src="assets/images/newdonate.jpg" height="150px" class="card-img-top">
                   <div class="card-body">
                   You have not lived today until you have done somthing for someone who can never repay you..
                   </div>
                 </div>
                 </div>
             <br>
           </div>
         </section>     
        <pre>
        </pre>
<!--========================================Ad slider=============================================-->
 

<div id="demo" class="carousel slide" data-ride="carousel" >
  
  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>
  
  <!-- The slideshow -->
  <div class="carousel-inner " style="margin-left: 15%;">
    <div class="carousel-item active">
      <img src="assets\images\thought.jpg"  style="width:70%;height:450px" class="img-fluid">
      
         </div>
    <div class="carousel-item">
      <img src="assets\images\motiva2.jpg"  style="width:70%;height:450px" class="img-fluid">
      
    </div>
    <div class="carousel-item">
      <img src="assets\images\food6.jpg" style="width:70%;height:450px" class="img-fluid">
    </div>
    
    <div class="carousel-item">
      <img src="assets\images\moti11.jpg" style="width:70%;height:450px" class="img-fluid">
      
    </div>
    
  </div>
  
  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
  
</div>
<pre>

</pre>
<app-app-footer></app-app-footer>
         


      





